@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 74px;
    width: 100%;
    margin: 0;
    padding: 18px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 72, 0, 0.5);
}

#brand-logo {
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 32px;
    stroke: 2px;
    padding: 4px;
}

.bus-details {
    /* background-color: white; */
    padding: 10px;
    border-radius: 12px;
}

.bus-details span {
    font-family: 'Ubuntu', sans-serif;
    color: #525252;
    font-size: 18px;
    font-weight: 500;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.user-log {
    padding: 14px 2px;
}

#user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#user-name {
    font-family: "Ubuntu", sans-serif;
    font-size: 28px;
    color: #ffffff;
    text-transform: capitalize;
}

#logout {
    float: right;
    font-size: 12px;
    color: #525252;
    font-family: sans-serif;
    cursor: pointer;

}

#main {
    width: 100%;
    height: 80vh;
}

#app-box fieldset {
    border: 2px solid #acacac;
    width: 90%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    height: 420px;
    margin: 0px auto;
    box-sizing: border-box;
    position: relative;
    top: 58px;
    display: flex;
}

#app-box legend {
    width: 15%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 16px;
    border: 2px solid #acacac;
    border-bottom: none;
    background-color: white;
    position: absolute;
    top: -55px;
    left: -2px;

}

#tab-list {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tab-list button {
    width: 160px;
    height: 40px;
    font-size: 18px;
    border: 1px solid #ccc;
    background-color: white;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 22px;
}

#tab-list button.active {
    background-color: #3847ef;
    color: white;
}

#tab-content {
    width: 85%;
    height: 100%;
}

#work-brand-name {
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    padding: 12px;
    font-size: 24px;
    background-image: linear-gradient(45deg, #99e9a5 0%, #3847ef 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    letter-spacing: 2px;

}

#tab-content>* {
    display: none;
    animation: 1s fade;
}

/* first tab create css */

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#create form input,
#create form select,
#edit input,
#search form input,
#search-field {
    padding: 12px;
    border: 1px solid #d4d4d4;
    margin-bottom: 12px;
    width: 250px;
    margin-top: 8px;
}

#create form,
#edit form,
#search form {
    font-family: "Ubuntu", sans-serif;
}

td,
textarea {
    border: 1px solid #d4d4d4;
    padding: 8px;
}

textarea {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

#side-btn {
    display: none;
    float: right;
    position: relative;
    top: 0px;
    right: 10px;
}

/* second tab ::content */

#ledger-notice,
#search-notice {
    color: red;
    font-size: 22px;
    text-align: center;
}

#delete,
#save {
    width: 100%;
    background: black;
    color: white;
    padding: 6px;
    border: none;
    border-radius: 4px;
}


.footer {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    background-color: rgba(255, 72, 0, 0.5);
    display: flex;
    justify-content: center;

}

#footer-tag {
    font-family: 'Ubuntu', cursive;
    float: left;
    color: #000000;
    font-size: 18px;
    margin: 10px 2px;
    margin-top: 10px;

}

#footer-tag a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

#footer-img {
    width: 40px;
    height: 40px;
    float: left;
    filter: drop-shadow(2px 2px 4px black);
    margin: 8px;
}

/* media quaries */

@media print {
    #footer {
        display: none;
    }
}

/* For mobile devices (max-width: 480px) */
@media only screen and (min-width:320px) and (max-width: 780px) {

    #brand-logo {
        font-size: 16px;
    }

    #main {
        width: 100%;
        height: 170vh;
        display: flex;
        flex-direction: column;
    }

    #side-btn {
        display: block;
        float: right;
        position: relative;
        top: 12px;
        right: 10px;
    }

    #app-box fieldset {
        width: 100%;
        height: auto;
    }

    #app-box legend{
        width: 30%;
    }

    #create-form table tr {
        display: flex;
        flex-direction: column;
    }

    #create-form table td {
        width: 100%;
    }



    #tab-list {
        width:70%;
        background-color: white;
        position: fixed;
        top:0px;
        left: 0;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(-130%);
        transition: transform 0.3s ease-in-out;
        z-index: 100;
        padding: 32px;
    }

    #tab-list.active {
        transform: translateX(0);
    }


    #tab-list button {
        width: 100px;
        height: 30px;
        font-size: 14px;
        margin-bottom: 10px;
    }

    #tab-content {
        width: 100%;
        height: 100%;
    }

    #work-brand-logo{
        width: 100px;
        height: 100px;
    }
    #work-brand-name {
        font-size: 18px;
    }

    #create form input,
    #create form select,
    #edit input,
    #search form input,
    #search-field {
        width: 100%;
        margin-bottom: 10px;
    }

    #delete,
    #save {
        width: 100%;
        padding: 4px;
    }

    .footer {
        height: 30px;
    }

    #footer-tag {
        font-size: 14px;
        margin: 5px 2px;
    }

    #footer-img {
        width: 20px;
        height: 20px;
        margin: 4px;
    }
}

