@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 74px;
    width: 100%;
    margin: 0;
    padding: 18px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 72, 0, 0.5);
}

#brand-logo {
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 32px;
    stroke: 2px;
    padding: 4px;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.user-log {
    padding: 14px 2px;
}

#user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#user-name {
    font-family: "Ubuntu", sans-serif;
    font-size: 28px;
    color: #ffffff;
    text-transform: capitalize;
}

#logout {
    float: right;
    font-size: 12px;
    color: #525252;
    font-family: sans-serif;
    cursor: pointer;

}

#main {
    width: 100%;
}

/* body */

#side-bar {
    width: 20%;
    height: 488px;
    background-color: white;
    padding: 20px;
    float: left;
}

#sidecontent {
    width: 80%;
    height: 488px;
    float: left;
    background-color: #f7f5f3;
    overflow-y: scroll;
}

#sidecontent::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

#sidecontent::-webkit-scrollbar-thumb {
    background-color: #41A2FC;
    border-radius: 10px;
    border: 2px solid white;
}

#sidecontent::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

#work-brand-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
}

#work-brand-name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    float: left;
    color: #525252;
    text-transform: capitalize;
    font-weight: 600;
    background-image: linear-gradient(10deg, #99e9a5 0%, #3847ef 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 18px;
}

#tab-list {
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    clear: both;
    height: 200px;
    padding: 8px 16px;
}

.search{
    width: 100%;
    height: 40px;
    border: 1px solid #5252527e;
    padding: 8px;
    font-family:Ubuntu;
}

.search input{
    height: 28px;
    border-radius: 22px;
    outline: none;
    border: 1px solid #484d4c71;
    padding: 6px;
    text-align: center;
}

.search tr td:last-child{
    font-size:26px;
    text-align: center;
    
}

#tab-list button {
    width: 200px;
    height: 40px;
    background-color: white;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin: 8px 0;
    border: 1px solid #525252;
    position: relative;
}

#tab-list button:hover {
    background-image: linear-gradient(10deg, #a8fa4b 0%, #3878ef 100%);
    color: white;
}

.vouchers {
    width: 100%;
    padding: 1%;
}

#sidecontent>* {
    display: none;
}

#ist-table {
    width: 100%;
}


#ist-table td {
    padding: 4px;
    text-align: left;
    font-family: Montserrat, sans-serif;
    border: 1px solid rgb(255, 255, 255);
}

#ist-table th {
    padding: 4px;
    text-align: center;
    background-color: #f2f2f2;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

#ist-table input {
    width: 180px;
    height: 28px;
    border-radius: 22px;
    border: 1px solid #7a7a7a;
    outline: none;
    text-align: center;
}

#suggestions {
    display: none;
    width: 180px;
    max-height: 220px;
    overflow-y: scroll;
    background-color: #f2f4f7;
    position: absolute;
    border: 1px solid black;
    z-index: 100;
    margin-top: 2px;
    border-radius: 8px;
    padding: 8px;
}

#suggestions::-webkit-scrollbar {
    width: 6px;
    border-radius: 8px;
}

#suggestions::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #b7f3c0;
    border-radius: 12px;
    border: 1px solid #484d4c71;
}

#suggestions::-webkit-scrollbar-track {
    margin-top: 8px;
    border-radius: 8px;
    background-color: #9eb8ff;

}

.sug-span {
    display: inline-block;
    width: 100%;
    height: 28px;
    padding: 6px;
    margin: 0;
    text-align: center;
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    /* text-transform: capitalize; */
    border: 1px solid #ffffff;
    cursor: pointer;
}


/* sales voucher here  */

#sales-ist-table {
    width: 100%;
}

#sales-ist-table td {
    padding: 4px;
    text-align: left;
    font-family: Montserrat, sans-serif;
    border: 1px solid rgb(255, 255, 255);
}

#sales-ist-table th {
    padding: 4px;
    text-align: center;
    background-color: #f2f2f2;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

#sales-ist-table input {
    width: 180px;
    height: 28px;
    border-radius: 22px;
    border: 1px solid #7a7a7a;
    outline: none;
    text-align: center;
}

#sales-suggestions {
    display: none;
    width: 180px;
    max-height: 220px;
    overflow-y: scroll;
    background-color: #f2f4f7;
    position: absolute;
    border: 1px solid black;
    z-index: 100;
    margin-top: 2px;
    border-radius: 8px;
    padding: 8px;
}

#sales-suggestions::-webkit-scrollbar {
    width: 6px;
    border-radius: 8px;
}

#sales-suggestions::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #b7f3c0;
    border-radius: 12px;
    border: 1px solid #484d4c71;
}

#sales-suggestions::-webkit-scrollbar-track {
    margin-top: 8px;
    border-radius: 8px;
    background-color: #9eb8ff;
}

.sales-sug-span {
    display: inline-block;
    width: 100%;
    height: 28px;
    padding: 6px;
    margin: 0;
    text-align: center;
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    /* text-transform: capitalize; */
    border: 1px solid #ffffff;
    cursor: pointer;
}


/* sales voucher here  */

#sec-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

#sec-table th {
    padding: 4px;
    border: 1px solid black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
}

#sec-table td {
    padding: 2px;
    border: 1px solid black;
    font-family: sans-serif;
    text-align: center;
    font-size: 22px;
}

#sec-table input {
    width: 100%;
    height: 28px;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #7a7a7a;
    border-radius: 8px;
}

#sec-table input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

#sec-table select {
    width: 100%;
    height: 28px;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #7a7a7a;
    border-radius: 8px;
}

#add-item-btn {
    display: block;
    width: 90px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid black;
    color: #000000;
    cursor: pointer;
    margin: 10px 0;
    padding: 6px;
    position: relative;
}

.short-cuts {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 9px 2px;
    cursor: pointer;
    position: absolute;
    top: -12px;
    right: -16px;
    font-family: monospace;
    font-size: 8px;
    font-weight: 700;
}

#left-table {
    width: 70%;
    border: 1px solid #5252527e;
    padding: 4px;
    float: left;
}

.span-headings {
    display: block;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin: 8px 0px;
}

.suplier-details {
    width: 100%;
    height: 28px;
    margin: 4px 0px;
    padding: 4px;
}

#left-table textarea {
    resize: none;
    height: 100px;
}

#right-table {
    width: 30%;
    height: 270px;
    padding: 4px;
    float: left;
    border-collapse: collapse;
}

#right-table td,
#right-table th {
    padding: 4px;
    text-align: left;
    font-family: sans-serif;
    border: 1px solid #5252527e;
}

.taxes {
    display: block;
    margin: 2px;
    font-size: 14px;
    margin-bottom: 6px;
    padding: 2px;
    font-family: "Montserrat";
    text-transform: capitalize;
}


#voucher-submit {
    height: 24px;
    width: 90px;
    background: white;
    padding: 2px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 0 auto;
}

#notice-submit { 
    width: 100%;
    height: 20px;
    border-collapse: collapse;
}

#notice-submit td{
    padding: 4px;
    text-align: center;
    font-family: sans-serif;
    border: 1px solid #5252527e;
    padding: 4px;
}

#notice-purchase{
    font-family: 'Ubuntu',sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    color: red;
    font-weight: 600;
}

#notice-purchase button {
    height: 24px;
    width: 90px;
    background: white;
    padding: 2px;
    border: 1px solid black;
    border-radius: 4px;
}

#find-notice{
    font-size: 16px;
    font-family: ubuntu,sans-serif;
    color: red;
    width: 55%;
}

#voucher-delete{
    display: none;
}

/* slaes here / */

#sales-sec-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

#sales-sec-table th {
    padding: 4px;
    border: 1px solid black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
}

#sales-sec-table td {
    padding: 2px;
    border: 1px solid black;
    font-family: sans-serif;
    text-align: center;
    font-size: 22px;
}

#sales-sec-table input {
    width: 100%;
    height: 28px;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #7a7a7a;
    border-radius: 8px;
}

#sales-sec-table input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

#sales-sec-table select {
    width: 100%;
    height: 28px;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #7a7a7a;
    border-radius: 8px;
}

#sales-add-item-btn {
    display: block;
    width: 90px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid black;
    color: #000000;
    cursor: pointer;
    margin: 10px 0;
    padding: 6px;
    position: relative;
}

.sales-short-cuts {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 9px 2px;
    cursor: pointer;
    position: absolute;
    top: -12px;
    right: -16px;
    font-family: monospace;
    font-size: 8px;
    font-weight: 700;
}

#sales-left-table {
    width: 70%;
    border: 1px solid #5252527e;
    padding: 4px;
    float: left;
}

#sales-left-table span {
    display: block;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin: 8px 0px;
}

#sales-left-table input {
    width: 100%;
    height: 28px;
    margin: 4px 0px;
    padding: 4px;
}

#sales-left-table textarea {
    resize: none;
    height: 100px;
    width: 100%;
}

#sales-right-table {
    width: 30%;
    height: 270px;
    padding: 4px;
    float: left;
    border-collapse: collapse;
}

#sales-right-table td,
#sales-right-table th {
    padding: 4px;
    text-align: left;
    font-family: sans-serif;
    border: 1px solid #5252527e;
}

.sales-taxes {
    display: block;
    margin: 2px;
    font-size: 14px;
    margin-bottom: 6px;
    padding: 2px;
    font-family: "Montserrat";
    text-transform: capitalize;
}

#sales-voucher-submit {
    height: 24px;
    width: 90px;
    background: white;
    padding: 2px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 0 auto;
}

#sales-notice-submit { 
    width: 100%;
    height: 20px;
    border-collapse: collapse;
}

#sales-notice-submit td {
    padding: 4px;
    text-align: center;
    font-family: sans-serif;
    border: 1px solid #5252527e;
    padding: 4px;
}

#sales-notice-purchase {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    color: red;
    font-weight: 600;
}

#sales-notice-purchase button {
    height: 24px;
    width: 90px;
    background: white;
    padding: 2px;
    border: 1px solid black;
    border-radius: 4px;
}

#sales-find-notice {
    font-size: 16px;
    font-family: ubuntu, sans-serif;
    color: red;
    width: 55%;
}

#sales-voucher-delete {
    display: none;
}
    

/* print header */

.work-header {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 229, 220);
    padding: 8px;
}

.work-top-head {
    width: 226px;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Segoe UI', sans-serif;
    line-height: 25px;
    font-weight: 400;
    text-transform: capitalize;
    position: relative;
    /* Add position relative for positioning the line */
}

#work-brand-logoo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 4px groove #41A2FC;
}

#work-brand-namee {
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    text-transform: capitalize;
}

/* slaes voucjer */

.sales-work-header {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 229, 220);
    padding: 8px;
}

.sales-work-top-head {
    width: 226px;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Segoe UI', sans-serif;
    line-height: 25px;
    font-weight: 400;
    text-transform: capitalize;
    position: relative;
    /* Add position relative for positioning the line */
}

#sales-work-brand-logoo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 4px groove #41A2FC;
}

#sales-work-brand-namee {
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    text-transform: capitalize;
}

#stock-hint{
    display: block;
    width: 180px;
    max-height: 220px;
    overflow-y: scroll;
    background-color: #f2f4f7;
    position: absolute;
    left: 106px;
    top: 40px;
    border: 1px solid black;
    margin-top: 2px;
    border-radius: 8px;
    padding: 8px;
}

#stock-hint::-webkit-scrollbar {
    width: 6px;
    border-radius: 8px;
}

#stock-hint::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #b7f3c0;
    border-radius: 12px;
    border: 1px solid #484d4c71;
}

#stock-hint::-webkit-scrollbar-track {
    margin-top: 8px;
    border-radius: 8px;
    background-color: #9eb8ff;
}
.stock-sug-span{
    font-size: 16px;
    display: inline-block;
    width: 100%;
    height: 28px;
    padding: 6px;
    margin: 0;
    text-align: center;
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    border: 1px solid #ffffff;
    cursor: pointer;
}


/* print header for .vouchers */

.footer {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    background-color: rgba(255, 72, 0, 0.5);
    display: flex;
    justify-content: center;

}

#footer-tag {
    font-family: 'Ubuntu', cursive;
    float: left;
    color: #000000;
    font-size: 18px;
    margin: 10px 2px;
    margin-top: 10px;

}
#footer-tag a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
#footer-img {
    width: 40px;
    height: 40px;
    float: left;
    filter: drop-shadow(2px 2px 4px black);
    margin: 8px;
}

/* media quaries */

@media print {
   .footer {
    display: none;
   }
   .work-header{
    display: flex;
   }
   header{
    display: none;
   }
   .search{
    display: none;
   }
   #side-bar{
    display: none;
   }
   #sidecontent{
    display: block;
    width: 100%;
    height: 100%;
   }
   #add-item-btn{
    display: none;
   }
   table, td, th,tr{
    border: none;
   }
    td{
    border: none;
   }
    th{
    border: none;
   }
   tr{
    border: none;
   }
   input {
    border: none;
   }

   #notice-submit{
    display: none;
   }

   #sec-table tr{
    border: none;
   }

   #sec-table td{
    border: none;
   }


   #sec-table tr th:last-child  {
    display: none;
   }
   #sec-table tr td:last-child  {
    display: none;
   }

   body::after{
    content: 'This is a original SoftCopy of Voucher printed while initially Crafting the Voucher';
    position: relative;
    top: 10px;
    left: 120px;
    margin-top: 100px;
   }
   /* https://levelup.gitconnected.com/how-to-generate-pdf-invoices-with-javascript-159279f9243e */ /*u can use this also */
}


@media screen and (max-width: 768px){

    #brand-logo{
        font-size: 18px;
    }

    #side-btn {
        display: block;
        float: right;
        position: relative;
        top: 12px;
        right: 10px;
    }

    #tab-list.active {
        transform: translateX(0);
    }

    #side-bar{
        position:fixed ;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        z-index: 100;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    #side-bar.active {
        transform: translateX(0);
    }
    #sidecontent{
        width: 100%;
    }

    #sales-ist-table tr ,
    #ist-table tr{
        display: flex;
        flex-direction: column;
    }

    #sales-ist-table td,
    #ist-table td{
        text-align: center;
        width: 100%;
    }
    #sales-ist-table *{
        width: 100%;
        text-align: center;
    }
    #sales-ist-table td > input,
    #ist-table td > input{
        width: 100%;
        text-align: center;
    }

    #sec-table tr{
        display: flex;
        flex-direction: column;
    }

    #sales-left-table,
    #sales-right-table,
    #left-table,
    #right-table {
        width: 100%;
    }

    #sales-sec-table tr , th {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #footer-tag {
        font-size: 16px;
    }
}
