@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 74px;
    width: 100%;
    margin: 0;
    padding: 18px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 72, 0, 0.5);
}

#brand-logo {
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 32px;
    padding: 4px;
}

.bus-details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 12px;
}

.bus-details span {
    font-family: 'Ubuntu', sans-serif;
    color: #525252;
    font-size: 18px;
    font-weight: 500;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.user-log {
    padding: 14px 2px;
}

#user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#user-name {
    font-family: "Ubuntu", sans-serif;
    font-size: 28px;
    color: #ffffff;
    text-transform: capitalize;
}

#logout {
    float: right;
    font-size: 12px;
    color: #525252;
    font-family: sans-serif;
    cursor: pointer;

}


#main {
    width: 100%;
    height: 80vh;
    display: flex;
}

/* left area of workplace */
.work-area {
    width: 70%;
    height: auto;
    background: #f7f0f0;
    padding: 2px;
    display: block;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.work-header {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 229, 220);
    padding: 8px;
}

.work-top-head {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    text-transform: capitalize;
    position: relative;
}

.work-top-head::after {
    content: '';
    position: absolute;
    top: 50%;
    height: 40px;
    width: 1px;
    background-color: #5c5c5c;
    right: -20px;
    transform: translateY(-50%);
}

.work-top-head:last-child::after {
    content: none;
}

.center {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.work-top-head span {
    text-align: center;
}

#work-brand-logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 4px groove #41A2FC;
}

#work-brand-name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    text-transform: capitalize;
}


.dynamic-content {
    width: 100%;
    height: calc(100% - 66px);
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.option-box {
    display: none;
    width: 320px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

#close-measure {
    float: right;
    position: relative;
    top: -10px;
    right: -5px;
}

.wrapper-form {
    display: flex;
    flex-direction: column;
}

.wrapper-form h1 {
    color: #007bff;
}

.wrapper-form img {
    width: 90px;
    height: 90px;
}

.wrapper-form label {
    font-weight: bold;
    margin: 5px 0px;
    font-family: sans-serif;
}

.wrapper-form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.wrapper-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wrapper-form input[type="submit"]:hover {
    background-color: #0056b3;
}



#sec-wrapper select {
    width: 70%;
    height: 30px;
    padding: 4px;
    margin: 10px 0;
    display: none;

}


#ist-wrapper select {
    width: 70%;
    height: 30px;
    padding: 4px;
    margin: 10px 0;
    display: none;
}

.r-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    cursor: pointer;
}

.r-btns label {
    font-size: 14px;
    font-family: sans-serif;
    text-transform: capitalize;
    cursor: pointer;
}




#delete-tax {
    width: auto;
    display: none;
    height: 30px;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#delete-unit {
    width: auto;
    display: none;
    height: 30px;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* menu area of right */
.menu-area {
    width: 30%;
    height: auto;
    background: #ffffff;
    padding: 10px 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.wrappers {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border-radius: 0px 10px 10px 0px;
    /* filter: drop-shadow(0px 12.5215520859px 10.017241478px rgba(0, 0, 0, 0.04)) drop-shadow(0px 22.336309433px 17.8690471649px rgba(0, 0, 0, 0.04)) drop-shadow(0px 41.7776107788px 33.422088623px rgba(0, 0, 0, 0.05)) drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)); */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    float: left;

}

.menu-area .wrappers::before {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0px;
    width: 4px;
    height: 100%;
    content: "";
    background-image: linear-gradient(37deg, #99e9a5 0%, #3847ef 100%);
    z-index: 11;
}

.wrappers :hover {
    transform: scale(1.02);
}

.button {
    width: 90%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button i {
    font-size: 22px;

}

.button span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    margin: 12px;
}



.search-area {
    width: 100%;
    height: 40px;
    background-color: #f4f0f0;
    border-radius: 22px;
    padding: 2%;
    font-size: 14px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#search_voucher {
    height: 26px;
    width: 40%;
    outline: none;
    border: 1px solid #F4F0F0;
    border-radius: 12px;
    padding: 2px;
    text-align: center;

}

.dropdown {
    display: none;
    position: absolute;
    height: 38px;
    width: 100%;
    background-color: #F4F0F0;
    top: 40px;
    border-radius: 12px;

}

/* form area */


.footer {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: rgba(255, 72, 0, 0.5);
    display: flex;
    justify-content: center;

}

#footer-tag {
    font-family: 'Ubuntu', cursive;
    float: left;
    color: #000000;
    font-size: 18px;
    margin: 10px 2px;
    filter: drop-shadow(2px 2px 4px #ffffff);
    margin-top: 10px;

}

#footer-tag a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

#footer-img {
    width: 40px;
    height: 40px;
    float: left;
    filter: drop-shadow(2px 2px 4px black);
    margin: 8px;
}

#side-btn {
    display: none;
}

/* media quaries */

@media print {
    #footer {
        display: none;
    }
}



/* Add this to the existing CSS file */

/* Mobile devices (max-width: 480px) */
@media only screen and (min-device-width: 280px) and (max-device-width: 480px) {

    /* Adjust header and footer heights */
    header {
        height: 60px;
    }

    #brand-logo {
        font-size: 14px;
    }

    #user-name {
        font-size: 14px;
    }

    #user-img {
        width: 42px;
        height: 42px
    }

    .bus-details {
        display: none;
    }


    .work-header {
        display: none;
    }

    .wrapper-form img{
        display: none;
    }

    .footer {
        height: 30px;

    }

    .footer #footer-tag {
        font-size: 14px
    }

    #side-btn {
        display: block;
        float: right;
    }

    /* Make menu area full-width */
    .menu-area {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        background-color: #f7f0f0;
        padding: 14px;
        z-index: 10;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    /* Show the menu area when the toggle icon is clicked */
    .menu-area.active {
        transform: translateX(0);
        font-size: 18px;
    }

    #main {
        height: auto;
        min-height: 80vh;
    }

    .dynamic-content{
        flex-direction: column;
        align-items: center;
    }
    /* Adjust work area layout */
    .work-area {
        width: 100%;
        padding: 10px;
    }

    /* Make tables full-width */
    table {
        width: 100%;
    }

    /* Adjust form layout */
    .wrapper-form {
        width: 100%;
    }

    /* Adjust button sizes */
    .button {
        width: 100%;
    }
}

/* Tablet devices (max-width: 768px) */
@media only screen and (max-device-width: 780px) {

    /* Adjust header and footer heights */
    header {
        height: 60px;
    }

    #brand-logo {
        font-size: 18px;
    }

    .bus-details span {
        font-size: 12px;
    }

    .bus-details {
        padding: 2px;
    }

    .work-top-head {
        font-size: 12px;
        line-height: 14px;
    }

    .wrapper-form img{
        display: none;
    }

    #work-brand-name {
        font-size: 16px;
    }


    .footer {
        height: 40px;
    }

    /* Make menu area 2/3 width */

    #side-btn {
        display: block;
        float: right;
        position: relative;
        top: 0px;
        right: 10px;
    }

    .menu-area {
        position: fixed;
        top: 60px ;
        left: 0;
        width: 250px;
        height: 80vh;
        overflow-y: scroll;
        background-color: #f7f0f0;
        padding: 14px;
        z-index: 10;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .menu-area.active {
        transform: translateX(0);
        font-size: 18px;
    }

    /* Adjust work area layout */
    .work-area {
        width: 100%;
        padding: 8px;
    }

    /* Make tables full-width */
    table {
        width: 100%;
    }

    /* Adjust form layout */
    .wrapper-form {
        width: 80%;
    }

    /* Adjust button sizes */
    .button {
        width: 80%;
    }
}